.skillbox{
padding-left: 3%;
padding-right: 3%;
box-sizing: border-box;
width: 100%;
margin: 20px 0;
}

.skillbox p:nth-child(2){
float: right;
}
.skill{
background-color: black;
padding: 8px;
box-sizing: border-box;
border: 1px solid white;
border-radius: 20px;
}
.skill_level{
background: #D2691E;
width: 100%;
height: 25px;
border-radius: 20px;
}
.html{
width: 80%;
animation: html 2s;
}
.java{
width: 65%;
animation: java 2s;
}
.python{
width: 50%;
animation: python 2s;
}
.c{
width: 60%;
animation: c 2s;
}
.pw{
width: 70%;
animation: pw 2s;
}
@keyframes html{
	0%{
		width: 0%;
	}
	100%{
		width: 80%;
	}
}
@keyframes java{
	0%{
		width: 0%;
	}
	100%{
		width: 65%;
	}
}
@keyframes python{
	0%{
		width: 0%;
	}
	100%{
		width: 50%;
	}
}
@keyframes c{
	0%{
width: 0%;
}
100%{
width: 60%;
}
}
@keyframes pw{
	0%{
	width: 0%;
}
100%{
width: 70%;
}
}